<div class="modal-overlay">
    <div class="modal">
        <button type="button" class="modal-close">
            <svg class="icon-close" width="32" height="32">
                <use href="/img/sprite.svg#icon-close"></use>
            </svg></button>

        <p class="modal-title">Join Now!</p>
        <p class="name-plan">One Session</p>
        <p class="price-plan">$10</p>

        <form action="" class="modal-form">
            <div class="modal-field">

                <div class="modal-input-wrap">
                    <label for="user-name" class="modal-label">Your Name</label>

                    <input type="text" name="user-name" id="user-name" class="modal-input" placeholder="User name"
                        required>
                </div>
                <div class="modal-input-wrap">
                    <label for="user-email" class="modal-label">Email</label>

                    <input type="email" name="user-email" id="user-email" class="modal-input" placeholder="User Email"
                        required>
                </div>
                <div class="modal-input-wrap">
                    <label for="user-tel" class="modal-label">Phone number</label>

                    <input type="tel" name="user-tel" id="user-tel" class="modal-input" placeholder="User phone number"
                        required>
                </div>

                <button class="modal-button" type="submit">Go to checkout</button>
            </div>
        </form>
    </div>

</div>